<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-weibosdk"
  version="0.3.5">

  <name>YCWeibo</name>
  <description>Cordova YCWeibo Plugin</description>
  <license>MIT</license>
  <keywords>cordova,weibo</keywords>
  <repo>https://github.com/iVanPan/cordova_weibo.git</repo>
  <issue>https://github.com/iVanPan/cordova_weibo/issues</issue>

  <preference name="WEIBO_APP_ID" />

  <!--require cordova version -->
  <engines>
    <engine name="cordova" version=">=3.5.0" />
    <engine name="cordova-android" version=">=4.0.0-dev" />
    <engine name="cordova-ios" version=">=4.0.0" />
  </engines>

  <!-- js module-->
  <js-module src="www/ycweibo.js" name="ycweibo">
    <clobbers target="YCWeibo" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="YCWeibo">
       <param name="ios-package" value="YCWeibo"/>
     </feature>
     <access origin="https://open.weibo.cn/*" />
     <access origin="https://*.sina.cn/*" />
     <access origin="https://login.sina.com.cn/*" />
     <access origin="https://passport.weibo.cn/*"/>
     <access origin="http://service.weibo.com/share/*"/>
     <access origin="http://*.sinajs.cn/*"/>
     <access origin="http://*.sina.com.cn/*"/>
     <access origin="https://api.weibo.com/*"/>
     <preference name="WEIBO_APP_ID" value="$WEIBO_APP_ID"/>
   </config-file>
   <!--set ios URLTypes for Weibo -->
   <config-file target="*-Info.plist" parent="CFBundleURLTypes">
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>$PACKAGE_NAME</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wb$WEIBO_APP_ID</string>
        </array>
      </dict>
    </array>
  </config-file>

    <!--scheme query whitlist-->
    <config-file platform="ios" target="*-Info.plist" parent="LSApplicationQueriesSchemes">
        <array>
		    <string>sinaweibohd</string>
		    <string>sinaweibo</string>
		    <string>weibosdk</string>
		    <string>weibosdk2.5</string>
        </array>
    </config-file>
  <header-file src="src/ios/YCWeibo.h"/>
  <source-file src="src/ios/YCWeibo.m"/>

  <!-- Weibo sdk version 3.1.4 https://github.com/sinaweibosdk/weibo_ios_sdk -->
  <header-file src="src/ios/libWeiboSDK/WBHttpRequest.h" />
  <header-file src="src/ios/libWeiboSDK/WBHttpRequest+WeiboShare.h" />
  <header-file src="src/ios/libWeiboSDK/WBHttpRequest+WeiboToken.h" />
  <header-file src="src/ios/libWeiboSDK/WBHttpRequest+WeiboUser.h" />
  <header-file src="src/ios/libWeiboSDK/WBHttpRequest+WeiboGame.h" />
  <header-file src="src/ios/libWeiboSDK/WBSDKBasicButton.h" />
  <header-file src="src/ios/libWeiboSDK/WBSDKCommentButton.h" />
  <header-file src="src/ios/libWeiboSDK/WBSDKRelationshipButton.h" />
  <header-file src="src/ios/libWeiboSDK/WeiboSDK.h" />
  <header-file src="src/ios/libWeiboSDK/WeiboSDK+Statistics.h" />
  <header-file src="src/ios/libWeiboSDK/WeiboUser.h" />
  <source-file src="src/ios/libWeiboSDK/libWeiboSDK.a" framework="true"  compiler-flags="-objc"/>
  <resource-file src="src/ios/libWeiboSDK/WeiboSDK.bundle" />

  <!--required frameworks for weibo sdk-->
  <framework src="QuartzCore.framework" />
  <framework src="ImageIO.framework" />
  <framework src="SystemConfiguration.framework" />
  <framework src="Security.framework" />
  <framework src="CoreTelephony.framework" />
  <framework src="CoreText.framework" />
  <framework src="Foundation.framework" />
  <framework src="CoreGraphics.framework" />
  <framework src="libz.tbd" />
  <framework src="libsqlite3.tbd" />
  <info>
    安装完插件，请用XCode打开工程，查看URL Types里面weibo的URL type有没有，如果没有请手动添加/after installing this plugin,check the URL Types in your Xcode project.If you don't find URL Types for weibosdk，manually add it.
  </info>
</platform>
<!-- android -->
<platform name="android">
  <config-file target="res/xml/config.xml" parent="/*">
    <feature name="YCWeibo" >
      <param name="android-package" value="org.zy.yuancheng.weibo.YCWeibo"/>
    </feature>
    <access origin="https://open.weibo.cn/*" />
    <access origin="https://login.sina.com.cn/*" />
    <access origin="https://passport.weibo.cn/*"/>
    <access origin="http://*.sinaimg.cn/*"/>
    <access origin="https://api.weibo.com/*"/>
    <preference name="WEIBO_APP_ID" value="$WEIBO_APP_ID"/>
  </config-file>
  <!-- android  uses-permission for weibo sdk-->
  <config-file target="AndroidManifest.xml" parent="/manifest">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  </config-file>

  <config-file target="AndroidManifest.xml" parent="/manifest/application">
    <!--android mianfest for weibo web authorization -->
    <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
      android:configChanges="keyboardHidden|orientation"
      android:windowSoftInputMode="adjustResize"
      android:exported="false"
      android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
    </activity>
    <!--android mianfest for weibo mobile Register -->
    <activity android:name="com.sina.weibo.sdk.register.mobile.MobileRegisterActivity"
      android:configChanges="keyboardHidden|orientation"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustResize"
      android:exported="false" >
    </activity>
    <!--android mianfest for weibo select Country -->
    <activity android:name="com.sina.weibo.sdk.register.mobile.SelectCountryActivity"
      android:configChanges="keyboardHidden|orientation"
      android:windowSoftInputMode="adjustResize"
      android:exported="false" >
    </activity>
    <!--android mianfest for weibo share callback -->
    <activity
      android:name="org.zy.yuancheng.weibo.YCWeiboShareCallback"
      android:configChanges="keyboardHidden|orientation"
      android:screenOrientation="portrait" >
      <intent-filter>
        <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <!--android mianfest for weibo downloadService-->
    <service android:name="com.sina.weibo.sdk.net.DownloadService"
      android:exported="false"></service>
    </config-file>

    <source-file src="src/android/YCWeibo.java" target-dir="src/org/zy/yuancheng/weibo" />
    <source-file src="src/android/YCWeiboShareCallback.java" target-dir="src/org/zy/yuancheng/weibo" />
    <source-file src="src/android/AccessTokenKeeper.java" target-dir="src/org/zy/yuancheng/weibo" />
    <!-- android weibo sdk version 3.1.4  https://github.com/sinaweibosdk/weibo_android_sdk-->
    <source-file src="src/android/libs/armeabi/libweibosdkcore.so" target-dir="libs/armeabi/" />
    <source-file src="src/android/libs/armeabi-v7a/libweibosdkcore.so" target-dir="libs/armeabi-v7a/" />
    <source-file src="src/android/libs/arm64-v8a/libweibosdkcore.so" target-dir="libs/arm64-v8a/" />
    <source-file src="src/android/libs/mips/libweibosdkcore.so" target-dir="libs/mips/" />
    <source-file src="src/android/libs/mips64/libweibosdkcore.so" target-dir="libs/mips64/" />
    <source-file src="src/android/libs/x86/libweibosdkcore.so" target-dir="libs/x86/" />
    <source-file src="src/android/libs/x86_64/libweibosdkcore.so" target-dir="libs/x86_64/" />
    <source-file src="src/android/libs/weiboSDKCore_3.1.4.jar" target-dir="libs/" />
  </platform>

</plugin>
